<div class="main_container">
  <div class="information">
    <h2>スケジュール一覧</h2>
  </div>

  <% if flash[:success] %>
    <p class="alert success"><%= flash[:success] %></p>
  <% end %>
  
  <% if flash[:delete] %>
    <p class="alert delete"><%= flash[:delete] %></p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>ID差分を作り中d</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>スケジュール更新日時</th>
        <th>確認</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |task| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= l schedule.start_day, format: :short %></td>
          <td><%= l schedule.end_day, format: :short %></td>
          <td>
          <% if schedule.all_day == true %>
          ○
          <% else schedule.all_day == false %>
          <% end %>
          </td>
          <td><%=  l schedule.updated_at %></td>
          <td><%= link_to "確認", schedule%></td>
          <td><%= link_to "編集", [:edit, schedule]%></td>
          <td><%= link_to "削除", schedule, method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to "スケジュール新規登録", :new_task %></p>
</div>